<!DOCTYPE html>
<html lang="en">
{% extends 'base-template.html' %}

<title>{% block title %} Login {% endblock %}</title>

{% block active_page %} Login {% endblock %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card border-0 shadow rounded-3 my-5">
        <div class="card-body p-4 p-sm-5">
          <h1 class="card-title text-center mb-5 fw-light fs-5">Login</h1>
          <form method="post">
            <div class="form-floating mb-3">
              <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
            </div>
            <div class="form-floating mb-3">
              <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
            </div>
            <div class="text-center">
              <button class="btn btn-primary btn-login fw-bold " type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}